@import 'palette.scss';

:root {
  --color-primary: #e57f41;

  --color-most-darkest: #000000;
  --color-darkest: #1a1a1a;
  --color-darker: #222222;
  --color-more-dark: #292929;
  --color-dark: #505050;
  --color-less-dark: #666666;

  --color-light: #888888;
  --color-lighter: #dddddd;
  --color-lightest: #f5f5f5;

  --c-brand: var(--color-primary);
  --spacer: 10px;

  --content-width: 1100px;

  --shiki-color-text: #CCCCCC; // html carets
  --shiki-token-string-expression: #4EC9B0; // html elements
  --shiki-token-function: #9CDCFE; // html attributes
  --shiki-color-background: #a21f1f;
  --shiki-token-constant: #569cd6;
  --shiki-token-string: var(--shiki-color-text);
  --shiki-token-comment: var(--shiki-color-text);
  --shiki-token-keyword: var(--shiki-token-constant);
  --shiki-token-parameter: var(--shiki-color-text);  
  --shiki-token-punctuation: var(--shiki-color-text);
  --shiki-token-link: var(--shiki-color-text);

  --code-block-border-width: 1px;
  --code-block-border-left-width: 0.5rem;
  --code-block-border: var(--code-block-border-width) solid var(--color-primary);
  --code-block-radius: 5px;
}

html.dark {
  --c-brand: var(--color-primary);
  --c-bg: var(--color-darkest);
  --code-bg-color: var(--color-darker);
  --c-border: var(--color-light);
  --c-text-quote: var(--color-primary);
  --c-bg-light: var(--color-dark);
  --c-text-lighter: var(--color-lighter);
  --c-tip-bg: var(--color-more-dark);
  --c-danger-bg: var(--color-most-darkest);
  --c-danger-text-light: var(--color-danger-text);
}

/*
TYPOGRAPHY
*/
h2 {
  border-bottom-color: var(--color-primary);
}

.theme-default-content h2 {
  margin-top: calc(var(--spacer) * 6);
  padding-top: 0;
  margin-bottom: calc(var(--spacer) * 3);
}

.theme-default-content h3 {
  margin-top: 30px;
  padding-top: 0;
  text-decoration: underline;
}

/*
Custom Containers
*/
.custom-container.tip, .custom-container.warning, .custom-container.danger  {
  border-width: var(--code-block-border-width);
  border-style: solid;
  border-radius: var(--code-block-radius);
  border-left-width: var(--code-block-border-left-width);
}

/*
CODE BLOCKS
*/
div[class*=language-] {
  border: var(--code-block-border);
  border-left-width: var(--code-block-border-left-width);
}

.code-group,
div[class*=language-] {
  margin: calc(var(--spacer) * 4) 0;
}

.code-group-item div[class*=language-] {
  border-top: none;
  border-radius: 0 0 var(--code-block-radius) var(--code-block-radius);
  margin: 0;
}

.code-group__nav {
  border-radius: var(--code-block-radius) var(--code-block-radius) 0 0;
  border: var(--code-block-border);
  border-left-width: 0.5rem;
  border-bottom: none;
}

.theme-default-content pre.shiki {
  padding: 0.35rem 1.5rem;
}

.code-group pre.shiki {
  padding: 1.1rem 1.5rem;
  margin-bottom: 0;
}

.code-group__nav-tab {
  padding: 5px 10px;
}

.code-group__nav-tab-active {
  color: var(--color-primary);
}

.code-group__nav-tab:hover {
  color: var(--color-primary);
}

/*
BADGES
*/
.badges {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
}

.github-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: calc(var(--navbar-line-height) - 2rem)
}

@media (max-width: $MQMobile) {
  .github-buttons {
   margin-right: 0; 
  }
}