@import 'palette.scss';
@import 'variables.scss';

.flex-spacer {
  flex: 1;
}

/*
NAV
*/
@media screen and (max-width: 1200px) and (min-width: 500px) {
  .site-name.can-hide {
    display: inline;
  }
}

/*
TYPOGRAPHY
*/

/* 
Changes to the default theme to support using headerLink of markdown-it-anchor for proper accessibility.
*/
a.header-anchor {
  opacity: 1;
  float: none;
  margin-left: 0;
}

h2 {
  border-bottom-color: var(--color-secondary-opaque);
}

.theme-default-content h2 {
  margin-top: calc(var(--spacer) * 6);
  padding-top: 0;
  margin-bottom: calc(var(--spacer) * 3);
}

.theme-default-content h3 {
  margin-top: 30px;
  padding-top: 0;
}

h1, h1 a {
  color: var(--c-text);
}

h2, h3, h4, h5, h6, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
  /* add scroll margin to account for fixed navbar */
  scroll-margin-top: calc(var(--navbar-height) + 1rem);
}

p a code {
  color: var(--color-accent3);
}

code {
  background-color: var(--color-more-dark);
}


/*
CUSTOM CONTAINERS
*/
.custom-container.tip, .custom-container.warning, .custom-container.danger  {
  border-width: var(--code-block-border-width);
  border-style: solid;
  border-radius: var(--code-block-radius);
  border-left-width: var(--code-block-border-left-width);
}

/*
CODE BLOCKS
*/
div[class*=language-] {
  border: var(--code-block-border);
  border-left-width: var(--code-block-border-left-width);
}

.code-group,
div[class*=language-] {
  margin: calc(var(--spacer) * 4) 0;
}

.code-group-item div[class*=language-] {
  border-top: none;
  border-radius: 0 0 var(--code-block-radius) var(--code-block-radius);
  margin: 0;
}

.code-group__nav {
  border-radius: var(--code-block-radius) var(--code-block-radius) 0 0;
  border: var(--code-block-border);
  border-left-width: 0.5rem;
  border-bottom: none;
}

.theme-default-content pre.shiki {
  padding: 0.35rem 1.5rem;
}

.code-group pre.shiki {
  padding: 1.1rem 1.5rem;
  margin-bottom: 0;
}

.code-group__nav-tab {
  padding: 5px 10px;
}

.code-group__nav-tab-active {
  color: var(--color-primary);
}

.code-group__nav-tab:hover {
  color: var(--color-primary);
}

/*
BADGES
*/
.github-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: calc(var(--navbar-line-height) - 2rem)
}

@media (max-width: $MQMobile) {
  .github-buttons {
    margin-right: 0; 
  }
}

/*
TABLES
*/
tr:nth-child(2n) {
  background-color: transparent;
}

/*
DATA GRID VUE EXAMPLES
*/
.grid-container {
  margin: calc(var(--spacer) * 3) 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.grid-container > .dgv-data-grid-container {
  height: 100%;
}

/*
DOC SEARCH
*/
.navbar-items-wrapper .DocSearch-Button {
  background: var(--color-darker);
  border: 1px solid var(--color-primary-opaque);
}

.navbar-items-wrapper .DocSearch-Button .DocSearch-Search-Icon {
  color: var(--color-primary);
}

.DocSearch-Container .DocSearch-Modal {
  border-radius: var(--modal-border-radius);
  box-shadow: none;
  background-color: var(--color-darker);
  border: 1px solid var(--color-primary-opaque);
}

.DocSearch-Container .DocSearch-Help,
.DocSearch-Container .DocSearch-Reset,
.DocSearch-Container .DocSearch-Input,
.DocSearch-Container .DocSearch-MagnifierLabel {
  color: var(--color-lighter);
}

.DocSearch-Container .DocSearch-Form {
  background: var(--color-most-darkest);
  border: 1px solid var(--color-primary-opaque);
  box-shadow: none;
  border-radius: var(--modal-border-radius);
}

.DocSearch-Container .DocSearch-Hit-source {
  background-color: var(--color-darker);
}

.DocSearch-Container .DocSearch-Hit {
  border-radius: var(--modal-border-radius);
}

.DocSearch-Container .DocSearch-Hit a {
  box-shadow: none;
  background: var(--color-most-darkest);
}

.DocSearch-Container .DocSearch-Hit-Container {
  color: var(--color-lighter);
}

.DocSearch-Container .DocSearch-Footer {
  border-radius: 0 0 var(--modal-border-radius) var(--modal-border-radius);
  box-shadow: none;
  border-top: 1px solid var(--color-primary-opaque);
  background-color: var(--color-most-darkest);
}

@import 'landing.scss'