:root {
  --color-primary: #e57f41;

  --c-brand: var(--color-primary);
  --spacer: 10px;

  --content-width: 1100px;

  --shiki-color-text: #CCCCCC; // html carets
  --shiki-token-string-expression: #4EC9B0; // html elements
  --shiki-token-function: #9CDCFE; // html attributes
  --shiki-color-background: #a21f1f;
  --shiki-token-constant: #569cd6;
  --shiki-token-string: var(--shiki-color-text:);
  --shiki-token-comment: var(--shiki-color-text:);
  --shiki-token-keyword: var(--shiki-token-constant);
  --shiki-token-parameter: var(--shiki-color-text:);  
  --shiki-token-punctuation: var(--shiki-color-text:);
  --shiki-token-link: var(--shiki-color-text:);
}

html.dark {
  --c-brand: var(--color-primary);
}

.badges {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
}
