:root {
  /* Theme assumes a dark background */

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --opaque-1: rgba(255, 255, 255, 0.5);
  --opaque-2: rgba(255, 255, 255, 0.3);
  --opaque-3: rgba(255, 255, 255, 0.2);
  --accent: rgb(255, 166, 0);


  --dgv-font-family: Verdana, Arial, Helvetica, sans-serif;


  --dgv-header-text-color: var(--white);
  --dgv-header-background: transparent;
  --dgv-header-padding: 12px;
  --dgv-header-font-size: 18px;
  --dgv-header-font-weight: bold;
  --dgv-header-border-top: 3px solid var(--opaque-1);
  --dgv-header-border-bottom: 3px solid var(--opaque-1);
  --dgv-header-icon-size: 12px;
  --dgv-header-icon-color: var(--accent);

  
  --dgv-filter-options-background-color: var(--opaque-2);
  --dgv-filter-options-border-bottom: 3px solid var(--opaque-1);


  --dgv-cell-text-color: rgb(255, 255, 255);
  --dgv-cell-padding: 15px 12px;
  --dgv-cell-border: none;
  --dgv-cell-font-size: 16px;
  --dgv-cell-background: var(--opaque-3);
  
  --dgv-cell-alt-background: var(--opaque-2);


  --dgv-footer-text-color: var(--white);
  --dgv-footer-background: transparent;
  --dgv-footer-padding: 6px 12px;
  --dgv-footer-font-size: 18px;
  --dgv-footer-icon-size: 10px;
  --dgv-footer-font-weight: normal;
  --dgv-footer-border-top: 3px solid var(--opaque-1);
  --dgv-footer-border-bottom: 3px solid var(--opaque-1);

  
  --dgv-nav-button-text-color: var(--white);
  --dgv-nav-button-border: none;
  --dgv-nav-button-background: transparent;
  --dgv-nav-button-padding: 10px;
  --dgv-nav-button-min-width: 35px;

  --dgv-nav-button-disabled-opacity: 0.4;

  --dgv-nav-button-active-color: var(--accent);
  --dgv-nav-button-active-border: none;
  --dgv-nav-button-active-background: transparent;

  --dgv-nav-button-hover-color: var(--black);
  --dgv-nav-button-hover-border: none;
  --dgv-nav-button-hover-background: var(--accent);


  --dgv-button-text-color: var(--accent);
  --dgv-button-border: 2px solid var(--accent);
  --dgv-button-padding: 5px;
  --dgv-button-background-color: transparent;

  --dgv-button-hover-text-color: var(--black);
  --dgv-button-hover-background-color: var(--accent);


  --dgv-action-text-font-size: 16px;
  --dgv-action-text-font-weight: normal;
  --dgv-action-text-color: var(--opaque-1);

  --dgv-action-text-hover-color: var(--accent);


  --dgv-input-padding: 5px;
  --dgv-input-border: 2px solid var(--opaque-1);
  --dgv-input-text-color: var(--black);
  --dgv-input-background: var(--opaque-1);

  --dgv-input-focus-border: 2px solid var(--accent);


  --dgv-filter-operator-item-color: var(--black);
  --dgv-filter-operator-item-opacity: 0.7;

  --dgv-filter-operator-item-hover-background-color: var(--accent);
  --dgv-filter-operator-item-hover-opacity: 1;
}


/**** Data Grid ****/
.dgv-data-grid {
  border-collapse: collapse;
  font-family: var(--dbv-font-family);
  height: fit-content;
}

  /**** Full Width ****/
  .dgv-data-grid-container.dgv-full-width {
    display: flex;
    flex-direction: column;
  }


/**** Header ****/
.dgv-data-grid .dgv-data-grid-header-row td {
  color: var(--dgv-header-text-color);
  padding: var(--dgv-header-padding);
  background-color: var(--dgv-header-background);
  font-weight: var(--dgv-header-font-weight);
  font-size: var(--header-font-size);
  border-top: var(--dgv-header-border-top);
  border-bottom: var(--dgv-header-border-bottom);
}

.dgv-data-grid-header-row > td.sortable {
  cursor: pointer;
}

  .dgv-data-grid-header-row .dgv-header-container {
    display: flex;
    flex-direction: column;
  }

  .dgv-data-grid-header-row svg {
    height: var(--dgv-header-icon-size);
    width: calc(var(--dgv-header-icon-size) * 2);
    stroke: var(--dgv-header-icon-color);
    stroke-width: 4;
    fill: none;
  }

    .dgv-data-grid-header-row svg text {
      font-size: calc(var(--dgv-header-icon-size) * 2);
      fill: var(--dgv-header-icon-color);
      stroke: none;
    }


/**** Cell ****/
.dgv-data-grid td {
  color: var(--dgv-cell-text-color);
  padding: var(--dgv-cell-padding);
  font-size: var(--dgv-font-size);
  border: var(--dgv-cell-border);
}

  .dgv-data-grid tr.dgv-data-grid-row td {
    background-color: var(--dgv-cell-background);
  }

  .dgv-data-grid tr.dgv-data-grid-row:nth-child(even) td {
    background-color: var(--dgv-cell-alt-background);
  }

/**** Footer ****/
.dgv-footer {
  color: var(--dgv-footer-text-color);
  padding: var(--dgv-footer-padding);
  background-color: var(--dgv-footer-background);
  font-weight: var(--dgv-footer-font-weight);
  font-size: var(--footer-font-size);
  border-top: var(--dgv-footer-border-top);
  border-bottom: var(--dgv-footer-border-bottom);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dgv-footer svg {
  height: var(--dgv-footer-icon-size);
  width: var(--dgv-footer-icon-size);
  stroke-width: 4;
  fill: none;
}

  /**** Page Navigation ****/
  .dgv-page-navigation {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .dgv-page-navigation button {
    cursor: pointer;
    color: var(--dgv-nav-button-text-color);
    stroke: var(--dgv-nav-button-text-color);
    border: var(--dgv-nav-button-border);
    background: var(--dgv-nav-button-background);
    padding: var(--dgv-nav-button-padding);
    min-width: var(--dgv-nav-button-min-width);
  }

  .dgv-page-navigation button svg {
    stroke: var(--dgv-nav-button-text-color);
  }

  .dgv-page-navigation button:disabled {
    opacity: var(--dgv-nav-button-disabled-opacity);
    cursor: not-allowed;
  }

  .dgv-page-navigation button:hover:not(:disabled),
  .dgv-page-navigation button:focus:not(:disabled) {    
    color: var(--dgv-nav-button-hover-color);
    border: var(--dgv-nav-button-hover-border);
    background: var(--dgv-nav-button-hover-background);
    outline: none;  
  }

  .dgv-page-navigation button:hover:not(:disabled) svg,
  .dgv-page-navigation button:focus:not(:disabled) svg {
    stroke: var(--dgv-nav-button-hover-color);
  }
  
  .dgv-page-navigation button.dgv-selected-page {
    color: var(--dgv-nav-button-active-color);
    border: var(--dgv-nav-button-active-border);
    background: var(--dgv-nav-button-active-background);
    font-weight: bold;
  }


/**** Buttons ****/
.dgv-data-grid button {
  cursor: pointer;
  color: var(--dgv-button-text-color);
  border: var(--dgv-button-border);
  padding: var(--dgv-button-padding);
  background-color: var(--dgv-button-background-color);
}

  .dgv-data-grid button:hover,
  .dgv-data-grid button:focus {
    color: var(--dgv-button-hover-text-color);
    background-color: var(--dgv-button-hover-background-color);
    outline: none;
  }


/**** Options Header ****/
.dgv-options-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 5px;
}


/**** Action Text (e.g. Show Filter Options) ****/
.dgv-action-text {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--dgv-action-text-font-size);
  font-weight: var(--dgv-action-text-font-weight);
  color: var(--dgv-action-text-color);
  fill: var(--dgv-action-text-color);
  
}

  .dgv-action-text:hover {
    color: var(--dgv-action-text-hover-color);
    fill: var(--dgv-action-text-hover-color);
  }


/**** Filter Options Row ***/
.dgv-filter-options-row {
  border-bottom: var(--dgv-filter-options-border-bottom);
  height: 100%;
}

  .dgv-filter-options-row td {
    background-color: var(--dgv-filter-options-background-color);
  }


/**** Filter ****/
.dgv-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

  .dgv-filter-operator-select {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 3px;
  }

  .dgv-filter-operator-item {
    cursor: pointer;
    stroke: var(--dgv-filter-operator-item-color);
    opacity: var(--dgv-filter-operator-item-opacity);
  }

    .dgv-filter-operator-item:hover,
    .dgv-filter-operator-item:focus,
    .dgv-filter-operator-item.dgv-selected-filter-operator {
      outline: none;
      opacity: var(--dgv-filter-operator-item-hover-opacity);
      background-color: var(--dgv-filter-operator-item-hover-background-color);
    }

/**** Input ****/
.dgv-data-grid input {
  padding: var(--dgv-input-padding);
  border: var(--dgv-input-border);
  color: var(--dgv-input-text-color);
  background-color: var(--dgv-input-background);
}

  .dgv-data-grid input:focus {
    outline: none;
    border: var(--dgv-input-focus-border);
  }